/* HeroesComponent's private CSS styles */
h2 {
  text-align: center;
  margin: 2.5% 0.5% 2.5% 0.5%;
  color: darkorange;
}
.mharashahebs {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 35em;
}
.mharashahebs li {
  cursor: pointer;
  position: center;
  left: 0;
  margin: 0.5em;
  height: 1.6em;
  border-radius: 4px;
}
.mharashahebs li:hover {
  color: #d65828;
  background-color: #DDD;
  left: .1em;
}
.mharashahebs li.selected {
  color: white;
}
.mharashahebs li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.mharashahebs .badge {
  display: inline-block;
  color: white;
  /*padding: 0.8em 0.8em 0 0.7em;*/
  background-color:#d65828;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -3px;
  height: 2em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
