/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

h3 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.topbar {
  background-color: #ffb84d;
  max-width: 1070px;
  height: 30px;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}

nav a {
  padding: 5px 30px 5px 5px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  font-size: 100%;
}
nav a.active {

}
