/* Global Styles */
h1 {
  color: #d65828;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #d65828;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 5%;
  background-image: url(assets/background4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 10% 20%;
  border-radius: 5%;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

 Navigation link styles
nav a {
  padding: 10% 20%;
  text-decoration: none;
  margin-right: 10%;
  margin-top: 10%;
  display: inline-block;
  background-color: #eee;
  border-radius: 5%;
}
nav a:visited, a:link {
  color: #b35d25;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
