/* MharashahebDetailComponent's private CSS styles */
h2 {
  font-size: 4vmin;
  text-align: center;
}

label {
  display: inline-block;
  width: 30em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

div.details  {
  background-color: lightblue;
  border: 2px solid black;
  padding: 0.8em 0.7em 0 0.7em;
  width: 600px;
  font-size: 2vmin;
}
